body {
    font-family: "Raleway", sans-serif;
}
* {
    -moz-transition: all 1s;
    transition: all 1s;
}
#players-list {
    text-align: left;
}
.lgi-clickable {
    font-size: 18px;
}
.lgi-btn:before {
    content: "Select";
}
.list-group-item {
    color: black;
}
.uw-main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.uw-headpiece {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.uw-plist-item {
    background: #FFF;
    border-radius: 5px;
    height: 60px;
    color: #000;
    display: inline-block;
    min-width: 300px;
    margin: 5px;
    border: 1px solid black;
    transition: all 1s;
}
@keyframes loading-ball {
    0%, 100% {
        transform: translateX(-100px) scale(1.5);
    }
    50% {
        transform: translateX(100px) scale(0.5);
    }
}
.uw-loading-circle {
    width: 20px;
    height: 20px;
    background: #6646E6;
    border-radius: 50%;
    display: inline-block;
    animation: loading-ball 3s infinite;
    animation-direction: alternate;
}

.pli-dead {
    background: #FC6E6E;
}
.pli-me {
    background: #6EFC70;
}
.glyphicon-eye-open {
    color: #2B0377;
}
.glyphicon-warning-sign {
    color: rgb(255, 69, 69);
}
.glyphicon-ok {
    color: rgb(26, 116, 17);
}
.pli-text {
    font-size: 22px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
.uwg-night {
    background: black;
    color: white;
}
.uwg-day {
    background: #E39025;
    color: black;
}
.uw-loading {
    text-align: center;
}
.uw-title {
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
}
.uw-dn-text {
    font-size: 35px;
    font-family: 'Lobster Two', cursive;
}
.uw-shameless-plug {
    color: gray;
}
.eta {
    color: #64D455;
}
#start-btn {
    width: 100%;
}
